.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f00; /* Red background for visibility */
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* Initially hide the button */
  display: none;
}

@media (max-width: 768px) {
  /* Show the close button on small screens */
  .close-btn {
    display: flex;
  }
}
/* More specific selector */
a.active-link {
  background-color: var(--primary-color);
  color: white !important;
}

a {
  text-decoration: none; /* Remove underline from all links */
}
