<div class="card flex justify-content-center">
  <p-toast position="top-center" />
  <p-button (onClick)="show()" label="Show" />
</div>

<!-- {{ profileForm.value | json }}

{{ selectedExtras | json }}

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div formArrayName="extras">
    <h2>Select Extras</h2>
    <div *ngFor="let extra of extras; let i = index">
      <p-checkbox
        [inputId]="'extra-' + i"
        [label]="extra.label + ' (' + extra.price + ' USD)'"
        [formControlName]="i"
        binary="true"
      >
      </p-checkbox>
    </div>
  </div>

  <button type="submit" pButton label="Submit">submit</button>
</form> -->
