/* Toggle button styles */
.toggle-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333; /* Set icon color */
}

@media (max-width: 768px) {
  .toggle-button {
    display: block;
  }
}
